{% extends 'base.html' %}
{% block content %}

<div class="card">
  <div class="card-header"><strong>
    	{{ customer_record.song_title }} 
		</strong>
  </div>
  <div class="card-body">


  	
  <p class="card-text">
	<strong>Artist Name: </strong>{{ customer_record.artist_name }}</p>

	<p class="card-text">
	<strong>Solo or Group: </strong>{{ customer_record.solo_or_group }}</p>

	<p class="card-text">
	<strong>Genre: </strong>{{ customer_record.genre }}</p>

	<p class="card-text">
	<strong>Language: </strong>{{ customer_record.language }}</p>

	<p class="card-text">
	<strong>Date Released: </strong>{{ customer_record.date_released }}</p>

	<p class="card-text">
	<strong>Create At: </strong>{{ customer_record.created_at }}</p>

	<p class="card-text">
	<strong>ID: </strong>{{ customer_record.id }}</p>
   
  </div>
</div>

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

<a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">Delete</a>


<a href="{% url 'update_record' customer_record.id %}" class="btn btn-secondary">Update Record</a>

{% endblock %}